<!-- The title of the ion-view will be shown on the navbar -->
<ion-view>
  <ion-nav-buttons side="primary">
    <button class="button button-clear ion-plus-round" ng-click="list.add()"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="list.toggleEdit()">
      {{ 'EDIT' | translate }}
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    {{ 'CHECKLIST' | translate }}
  </ion-nav-title>
  <ion-content>
    <!-- The content of the page -->
    <ion-list show-delete="list.isEditing" show-reorder="list.isEditing" class="item-remove-animate">
      <ion-item ng-repeat="checklist in list.checklists" item="checklist" href="#/detail/{{$index}}">
        {{checklist.title}}
        <ion-option-button class="button-assertive" ng-click="list.remove(checklist)">{{ 'REMOVE' | translate }}
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="list.moveChecklist(checklist, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
